
.container{
    // color: aliceblue;
    padding: 40px;
    width: 589px;           
    margin-left: 30%;
    margin-top: 10px;
    // background-color: rgb(223, 57, 57);
   
   
} 
// .content{
//     border:  2px solid black;   
//     width: 500px;
//     margin-left: 7%;
//     padding: 20px;


// }


