.container {
    // border: 2px solid black;
    position: fixed;
    padding: 10px;
    margin-left: 37%;
    margin-top: 1%;  
}
.first {
    background-color: rgb(77, 75, 75);
    width: 380px;
    color: rgb(252, 252, 252);  
    font-size: small;
}
.second {
    background-color: rgb(75, 73, 73);
    width: 280px;
    color: rgb(253, 253, 253);
    font-size: small;
}
.third{
    background-color: rgb(73, 73, 74);
    width: 245px;
    color: aliceblue;           
    font-size: small;
}
.forth{
    background-color: rgb(72, 71, 71);
    width: 320px;
    color: aliceblue;
    font-size: small;
}