<div class="container">
    <h2 style="justify-content: center;">WEB DEVELOPMENT</h2>
    <!-- <ul>
     <li  class="first" style="background-color:black ;">HTML</li>
     <li>CSS</li>
     <li>JavaScript</li>
     <li>Angular</li>
    </ul> -->
    <p class="first">HTML <span style="margin-left: 82%;">90%</span></p>
    <p class="second">CSS<span style="margin-left: 82%;">70%</span></p>
    <p class="third">JavaScript<span style="margin-left: 67%;">60%</span></p>
    <p class="forth">Angular<span style="margin-left: 78%;">75%</span></p>
</div>